*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
}

a{
    text-decoration: none;
}

header{
    background-color: #ff9a4b;
    height: 50px;
}

.box{
    width: 960px;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    
}

.mini-box{
    width: 300px;
    background-color: #eeeeee;
    margin: 0 15px;
    position: relative;
    padding: 10px;
}

.title{
    background-color: #ff9a4b;
    color: white;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.photo{
    background-image: url(img/flow01.png);
    background-size: cover;
    background-position: bottom;
    width: 280px;
    height: 150px;
}

.photo2{
    background-image: url(img/flow02.png);
    background-size: cover;
    background-position: bottom;
    width: 280px;
    height: 150px;
}

.photo3{
    background-image: url(img/flow03.png);
    background-size: cover;
    background-position: bottom;
    width: 280px;
    height: 150px;
}

h3{
    margin: 15px 0 5px 0;
}

footer{
    background-color: #aaaaaa;
    height: 50px;
}

@media screen and (max-width: 425px) {

    header,main,footer{
        width: 100%;
    }

    .box{
        display: block;
        padding: 50px 0 30px 0;
        width: 90%;
    }

    .mini-box{
        margin: 0 auto 20px;
        width: 100%;
    }

    .photo,.photo2,.photo3{
        height: 150px;
        width: 100%;
    }
}